# Build directory
build/

# Logic/State files
sdkconfig.old
dependencies.lock

# Managed components (external libraries downloaded automatically)
managed_components/

# We DO NOT ignore 'sdkconfig' itself so our settings are saved!
